<div class="postCategory">
    <span class="postCategory__title">{{ .Category }}</span>
</div>
<header class="hero">
    <div class="hero__currentPostDescription">
        <h1 class="hero__title">zxtnx</h1>
        <p class="hero__tag">{{ .Tag }}</p>
        <p class="hero_tagDescription">
        To defend against an enemy, one must first understand their tactics.
        </p>
    </div>
    <div class="hero__avatarContainer">
        <img src="{{ .AvatarImage }}" alt="{{ .AvatarAlt }}" class="hero__avatarImage">
        <div class="hero__avatarSocials">
        <a href="#" class="hero__avatarSocialsLink">
            <img src="/images/twitter.svg" alt="Twitter" class="hero__avatarSocialsIcon">
        </a>
        <a href="#" class="hero__avatarSocialsLink">
            <img src="/images/github.svg" alt="Github" class="hero__avatarSocialsIcon">
        </a>
        </div>
    </div>
</header>
