:root {
  --color-primary: #7700C7;
  --color-primary-dark: #3E2E49;
  --color-blue: #1109FF;
  --color-blue-dark: #110E70;
  --color-red: #B10208;
  --color-red-dark: #641B1D;
  --color-background: #121212;
  --color-gray-dark: #4B4B4B;
  --color-white-dark: #f0f0f0;
  --color-gray: #595959;
  --color-white: #FFFFFF;
  --color-black: #202020;
  --color-gray-light: #1E1E1E;
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--color-background);
  color: var(--color-white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Thème clair */
body.light-theme {
  background-color: var(--color-white);
  color: var(--color-background);
}

body.light-theme .tableOfContents {
  background: var(--color-white-dark);
  color: var(--color-background);
}

body.light-theme .tableOfContents h3 {
  color: var(--color-background);
}

body.light-theme .tableOfContents nav a:hover {
  color: var(--color-background);
}

body.light-theme .tableOfContents nav a.active {
  font-weight: bold;
  color: var(--color-background);
}

body.light-theme .tableOfContents a {
  color: var(--color-background);
}

body.light-theme .postNavigation__prev,
body.light-theme .postNavigation__next {
  color: var(--color-background);
}

body.light-theme .postNavigation__prev[disabled],
body.light-theme .postNavigation__next[disabled] {
  color: #ccc;
}

body.light-theme .postNavigation__icon path {
  fill: var(--color-background);
}

body.light-theme .postNavigation__prev[disabled] .postNavigation__icon path,
body.light-theme .postNavigation__next[disabled] .postNavigation__icon path {
  fill: #ccc;
}

body.light-theme .postNavigation__prev:hover .postNavigation__icon path,
body.light-theme .postNavigation__next:hover .postNavigation__icon path {
  fill: var(--color-background);
}

button {
  color: var(--color-white);
  background-color: var(--color-background);
}

button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}

/* Reverse Engineering */
body.reverse-engineering-selection ::selection {
  background: var(--color-primary);
  color: var(--color-white);
}

/* Game Hacking */
body.game-hacking-selection ::selection {
  background: var(--color-blue);
  color: var(--color-white);
}

/* Binary Exploitation */
body.binary-exploitation-selection ::selection {
  background: var(--color-red);
  color: var(--color-white);
}

.postCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.postCategory__title {
  padding: 0.625rem 2rem;
}

.postCategory.reverse-engineering {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.postCategory.game-hacking {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.postCategory.binary-exploitation {
  background-color: var(--color-red);
  color: var(--color-white);
}

.mainContent {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.globalMenu__desktop {
  display: none;
}

.globalFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.globalMenu__mobile {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
  overflow: visible;
}

.globalMenu__mobile::before {
  content: '';
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 26px 50px rgb(18, 18, 18), 0 -86px 0px rgb(18, 18, 18);
  filter: blur(54.20000000298023224px);
}

.globalMenu__mobile .globalMenu__list {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 2;
}

.globalMenu__mobile .globalMenu__item {
  flex: 1; /* Chaque item prend une largeur égale */
  text-align: center;
  background-color: var(--color-gray-dark);
}

/* Ajouter une bordure séparatrice entre les éléments */
/* .globalMenu__item:not(:last-child) {
  border-right: 1px solid #333;
}*/


.postNavigation {
  display: flex;
  gap: 24px;
  margin-top: 1rem;
}

.postNavigation__prev,
.postNavigation__next {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  border: none;
  background: none;
  color: var(--color-white);
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.3s ease;
  user-select: none;
}

.postNavigation__prev[disabled],
.postNavigation__next[disabled] {
  color: var(--color-gray-dark);
  cursor: not-allowed;
}

.postNavigation__icon {
  display: block;
  margin-bottom: 0.2rem;
  width: 45px;
  height: 16px;
}

.postNavigation__text {
  position: relative;
  font-size: 0.9rem;
}

.postNavigation__icon,
.postNavigation__text {
  user-select: none;
}

.postNavigation__prev[disabled] .postNavigation__icon path,
.postNavigation__next[disabled] .postNavigation__icon path {
  fill: var(--color-gray-dark);
}

.postNavigation__prev .postNavigation__icon path,
.postNavigation__next .postNavigation__icon path {
  fill: currentColor; /* Utilise la couleur courante du texte */
}

/* Style des liens */
.globalMenu__mobile .globalMenu__link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 16px 0;
  width: 100%;
}

/* Lien actif */
.globalMenu__mobile .globalMenu__link--active {
  color: var(--color-white);
  background-color: var(--color-primary);
  /*font-weight: bold;*/
}

/* Survol */
.globalMenu__mobile .globalMenu__link:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.latestPost {
  display: flex;
  position: relative;
  height: 100%;
}

.leftContainer {
  width: 14%;
}

.latestPost__container {
  margin-right: 37.71%;
  margin-left: 7.71%;
  flex: 1;
}


.postsCarousel {
  position: fixed;
  top: 0;
  right: 0;
  width: 25.96%; /* Largeur fixe pour le carousel */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  background: var(--color-black); /* Couleur de fond */
  overflow: hidden; /* Masquer les débordements */
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.05);
}

.postsCarousel__track {
  display: flex;
  flex-direction: column;
  gap: 60px; /* Espacement vertical entre les éléments */
  overflow-y: scroll; /* Défilement vertical */
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /* Masquer la barre de défilement */
  height: 100%; /* Prend toute la hauteur */
}

.postsCarousel__track::-webkit-scrollbar {
  display: none; /* Cache la barre de défilement */
}

.postsCarousel__post {
  flex: 0 0 auto;
  width: 360px; /* Largeur fixe des images */
  height: 220px; /* Hauteur fixe des images */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.postsCarousel__post:hover {
  transform: scale(1.05); /* Agrandit légèrement l'élément */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.postsCarousel__thumbnailContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.postsCarousel__thumbnail {
  width: 100%; /* Remplit le conteneur */
  height: 100%; /* Remplit le conteneur */
  object-fit: cover; /* Ajuste l'image tout en respectant les proportions */
}

.postsCarousel__postTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
  color: var(--color-white);
  font-size: 14px;
  text-align: center;
}

.postsCarousel__expand {
  position: absolute;
  left: -18px;
  bottom: 40.5%;
  color: var(--color-white);
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  zoom: 1.005; /* Fix blurry text */
  transform: rotate(90deg);
  text-transform: uppercase;
}

.postsCarousel__expand::after {
  /* Make a line under the text */
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-white);
  margin-top: 0.5rem;
}

.postsCarousel__expand:hover {
  font-weight: bold;
  transition: font-weight 0.2s ease;
}

#TableOfContents {
  margin-left: 36px;
  margin-right: 26px;
}

.tableOfContents {
  position: fixed;
  right: 0;
  height: 100%;
  width: 14%;
  background: var(--color-gray-light);
  font-size: 14px;
  margin-right: 16%;
  display: flex;
  flex-direction: column;
}

.tableOfContents::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px; /* Largeur fine pour afficher la répétition des images */
  margin-left: 2.25rem;
  height: var(--toc-line-height, 0); /* Hauteur dynamique */
  background-image: url('/media/images/dot_texture.PNG');
  background-size: 1px 4px; /* Taille de chaque point et espace */
  margin-top: 1.725rem;
  z-index: 2;
}

.tableOfContents h3 {
  margin-top: 1.625rem;
  margin-left: 3.75rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.tableOfContents a {
  color: var(--color-white);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.tableOfContents a.active {
  font-weight: bold;  
}

.tableOfContents nav ul {
  list-style: none;
  padding-left: 0;
}

.tableOfContents ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 1.25rem;
}

.tableOfContents ul ul {
  margin-left: 1.25rem;
}

.tableOfContents nav ul li a:hover {
  color: var(--color-white);
}

.tableOfContents nav ul li a.active {
  font-weight: bold;
  color: var(--color-white);;
}

.tableOfContents nav a.active {
  font-weight: bold;
  color: var(--color-white);;
}

/* Pour les écrans de petite taille (mobile), inverser l'affichage */
@media (min-width: 768px) {
  .globalMenu__desktop {
      display: block;
  }
  .globalMenu__mobile, .globalHeadMenu__mobile {
      display: none;
  }
}